*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* BODY */
body{
    background: url("../images/fondo-encore.png") no-repeat center center/cover;
    background-attachment: fixed;
    min-height: 100vh;
}

/* HEADER */
header{
    background-color: #7c51c2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    color: white;
}

/* LOGO */
.logo img{
    height: 40px;
}

/* NAV */
nav a{
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover{
    opacity: 0.7;
}

/* ICONOS */
.icons a{
    color: white;
    margin-left: 20px;
    font-size: 20px;
    transition: 0.3s;
}

.icons a:hover{
    opacity: 0.7;
}

.cart-container{
    padding: 60px;
    color: white;
}

.cart-title{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-content{
    display: flex;
    gap: 40px;
}

/* Items */
.cart-items{
    flex: 2;
}

.cart-item{
    background: #f2f2f2;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    color: black;
}

.cart-item img{
    width: 100px;
}

.item-info{
    flex: 2;
}

.item-quantity{
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-quantity button{
    padding: 5px 10px;
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 4px;
}

.item-price{
    font-weight: bold;
}

.sale{
    color: red;
}

.old-price{
    text-decoration: line-through;
    margin-right: 5px;
    color: gray;
}

/* Summary */
.cart-summary{
    flex: 1;
    background: #f2f2f2;
    border-radius: 12px;
    padding: 30px;
    color: black;
    height: fit-content;
}

.cart-summary h3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.checkout-btn{
    width: 100%;
    padding: 12px;
    background: #8e75b6;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    margin: 20px 0;
    cursor: pointer;
}

.checkout-btn:hover{
    background: #6c2eb9;
}

.promo{
    font-size: 14px;
    color: #6c2eb9;
    text-decoration: none;
}