*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background: url("../images/fondo-encore.png") no-repeat center center/cover;
    background-attachment: fixed;
    min-height: 100vh;
    color:white;
}

/* HEADER */
header{
    background-color:#7c51c2;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

.logo img{
    height:40px;
}

nav a{
    text-decoration:none;
    color:white;
    margin:0 15px;
    font-weight:500;
}

.icons a{
    color:white;
    margin-left:20px;
    font-size:20px;
}

/* CONTENEDOR */
.profile-container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:85vh;
    padding:40px;
}

/* TARJETA */
.profile-card{
    background:#1a1a1a;
    width:900px;
    max-width:95%;
    border-radius:25px;
    display:flex;
    overflow:hidden;
    box-shadow:0 20px 40px rgba(0,0,0,0.5);
}

/* LADO IZQUIERDO */
.profile-left{
    background:linear-gradient(135deg,#7c51c2,#512da8);
    width:35%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:40px;
    text-align:center;
}

.profile-left img{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid white;
    margin-bottom:20px;
}

.profile-left h2{
    margin-bottom:5px;
}

.profile-left p{
    opacity:0.8;
}

/* LADO DERECHO */
.profile-right{
    width:65%;
    padding:50px;
}

.profile-right h3{
    margin-bottom:30px;
    font-size:22px;
}

.info-item{
    margin-bottom:20px;
}

.info-item span{
    font-size:14px;
    opacity:0.6;
}

.info-item p{
    font-size:18px;
    margin-top:5px;
}

/* BOTONES */
.buttons{
    margin-top:40px;
    display:flex;
    gap:20px;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:30px;
    font-weight:500;
    cursor:pointer;
    transition:0.3s ease;
}

.edit{
    background:#7c51c2;
    color:white;
}

.edit:hover{
    background:#693bb5;
}

.logout{
    background:#333;
    color:white;
    text-decoration: none;
    border-radius:30px;
    width: 150px;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}

.logout:hover{
    background:#444;
}