*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: url("../images/fondo-encore.png") no-repeat center center/cover;
    background-attachment: fixed;
    min-height: 100vh;
    background-size:cover;
    background-position:center;
    position:relative;
    color: white;
}

/* Overlay oscuro elegante */
body::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.65);
    backdrop-filter:blur(3px);
}

/* CONTENEDOR */
.register-container{
    position:relative;
    z-index:2;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* TARJETA */
.register-card{
    background:rgba(20,20,20,0.92);
    padding:45px;
    width:420px;
    border-radius:25px;
    box-shadow:0 20px 50px rgba(0,0,0,0.7);
    text-align:center;
}

.register-card h1{
    margin-bottom:10px;
    font-size:28px;
}

.register-card p{
    margin-bottom:25px;
    opacity:0.7;
}

/* INPUTS */
.input-group{
    position:relative;
    margin-bottom:18px;
}

.input-group i{
    position:absolute;
    left:15px;
    top:50%;
    transform:translateY(-50%);
    color:#7c51c2;
}

.input-group input{
    width:100%;
    padding:12px 12px 12px 40px;
    border:none;
    border-radius:30px;
    background:#2a2a2a;
    color:white;
    outline:none;
    transition:0.3s;
}

.input-group input:focus{
    background:#333;
}

/* BOTÓN */
.btnCrearC{
    width:100%;
    padding:12px;
    border:none;
    border-radius:30px;
    background:linear-gradient(135deg,#7c51c2,#512da8);
    color:white;
    font-weight:500;
    cursor:pointer;
    transition:0.3s ease;
    margin-top:15px;
    text-decoration: none;
}

.btnCrearC:hover{
    transform:scale(1.05);
    box-shadow:0 10px 25px rgba(124,81,194,0.6);
}

/* LINKS */
.extra-links{
    margin-top:20px;
}

.extra-links a{
    color:#bbb;
    font-size:14px;
    text-decoration:none;
    transition:0.3s;
}

.extra-links a:hover{
    color:white;
}